header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 20px;
    margin-bottom: 40px;
}

.icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
  font-size: 25px;
  position: relative;
  left: 800px;
}

.user {
    display: flex;
    gap: 15px;
    align-items: center;
}

ul {
    display: flex;  
    justify-content: space-around;
    width: 1000px;
    margin: 0;
    list-style: none;
}

.cart {
    
}



